= form_for [:admin, @merchant_category_code] do |f|
  - if @merchant_category_code.errors.any?
    #error_explanation
      %h4= "#{pluralize(@merchant_category_code.errors.count, "error")} prohibited this merchant_category_code from being saved:"
      %ul
        - @merchant_category_code.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'          
  .form-group
    = f.label :limit
    = f.text_field :limit, class: 'form-control'
  .form-group
    = f.label :code
    = f.text_field :code, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
