= form_for [:admin, @card] do |f|
  - if @card.errors.any?
    #error_explanation
      %h4= "#{pluralize(@card.errors.count, "error")} prohibited this card from being saved:"
      %ul
        - @card.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :card_number, class: 'required'
    = f.text_field :card_number, class: 'form-control'
  .form-group
    = f.label :card_type, class: 'required'
    = f.select :card_type_id, CardType.pluck(:name, :id), { prompt: "Select" }, { class: "form-control", required: true }  
  .form-group
    = f.label :employee
    = f.select :employee_id, Employee.pluck(:employee_id, :id), { prompt: "Select" }, { class: "form-control" }  
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
