= form_for [:admin, @card_type] do |f|
  - if @card_type.errors.any?
    #error_explanation
      %h4= "#{pluralize(@card_type.errors.count, "error")} prohibited this card_type from being saved:"
      %ul
        - @card_type.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, class: 'required'
    = f.text_field :name, class: 'form-control'
  .form-group
    - MerchantCategoryCode.all.each do |mcc|
      = check_box_tag "card_type[merchant_category_code_ids][]", mcc.id
      = label_tag mcc.code, mcc.code
      %br
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
