%h3 
  Listing Transactions: #{@transactions_count}

= render 'shared/transactions/filters', path: admin_transactions_path
%br
- if params[:group_by].present?
  - @transactions.each do |month, transactions|
    %b= month.to_s(:month_and_year)
    = render 'shared/transactions/index', transactions: transactions, path: :admin
- else
  = render 'shared/transactions/index', transactions: @transactions, path: :admin