%p#notice= notice

%h3 
  Listing Transactions: #{@transactions_count}

.row
  .col-md-10
    = render 'shared/transactions/filters', path: admin_transactions_path
  .col-md-2
    = link_to 'Export to CSV', export_admin_transactions_path(params.permit(Export::TransactionsExport.keys)), class: 'btn btn-primary' 

%br
- if params[:group_by].present?
  - @transactions.each do |month, transactions|
    %b= month.to_s(:month_and_year)
    = render 'shared/transactions/index', transactions: transactions, path: :admin
- else
  = render 'shared/transactions/index', transactions: @transactions, path: :admin