%p#notice= notice

%p
  %b Transaction ID
  = @transaction.transaction_id
%p
  %b Employee ID 
  = @transaction.employee.employee_id
%p
  %b Card Number 
  = @transaction.card.card_number
%p
  %b Card Type
  = @transaction.card.card_type.name
%p
  %b MCC
  = @transaction.mcc
%p
  %b Merchant Name
  = @transaction.merchant_name
%p
  %b Amount
  = @transaction.amount
%p
  %b Payment Amount
  = @transaction.payment_amount 
%p
  %b Status
  = @transaction.status  

- if @transaction.error_message
  %p
    %b Error Message
    = @transaction.error_message

= link_to 'Back', admin_transactions_path
